\#*#
tramp
auto-save-list
ac-comphist.dat
eshell
.DS_Store
url/cookies
cache/docsets

elpa
*.elc
*.o

# Temporary files
*~
backups

# machine config
machine.el

# Binary
config/autocomplete-config/clang-complete
config/autocomplete-config/src/dep

# ido history
ido.hist

# saved places
saved-places
